@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";



body{
    font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-primary: rgb(238, 141, 51);
  --color-secondary: rgba(0, 0, 0, 0.413);
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.slide-in {
  animation: slideIn 0.3s ease-out forwards;
}
